
<video poster="../../../assets/images/wgc1.jpg"></video>
<header>
  <div fxShow.xs="true" fxHide.gt-xs="true" style="background-color:black"> 
      <h1>Ghana Water Company Reporter</h1>
  </div>

  <form>
     
        <div> <br> <br></div>
        
        <div> <br> <br></div>
       
            <div align="center"> 
                <img src="../../../assets/images/gwclogo.jpg">
              </div>
              <div> <br> <br></div>
              <div> <br> <br></div>
              
              <div class="ui animated button" tabindex="0">
                  <div class="visible content">Report a Problem</div>
                  <div class="hidden content">
                    <i class="right arrow icon"></i>
                  </div>
              </div>
      
    </form>
    
    

 
</header>


